// default color scheme

$background: $color-white;
$foreground: $color-black;
$accent: $color-gold;

$title-font-color: $color-gold;
$subtitle-font-color: $color-black;
$body-font-color: $color-black;
$date-font-color: $color-grey;
$line-break-color: $color-grey;

$header-link-off: $color-white;
$header-link-on: $color-gold;

$footer-link-off: $color-black;
$footer-link-on: $color-gold;

$link-off: $color-blue;
$link-on: $color-gold;