// default color scheme

$background: $color-black;
$foreground: $color-blue;
$accent: $color-gold;

$title-font-color: $color-gold;
$subtitle-font-color: $color-cream;
$body-font-color: $color-cream;
$date-font-color: $color-grey;
$line-break-color: $color-blue;

$header-link-off: $color-black;
$header-link-on: $color-gold;

$footer-link-off: $color-cream;
$footer-link-on: $color-gold;

$link-off: $color-gold;
$link-on: $color-blue;