//footer settings, used on most pages
// expands on nav from main
footer{
    nav {
        float: right;
        text-align: center;
        padding-top: 6px;
        a:link {
            color: $color-black;
        }
        // visited link
        a:visited {
            color: $color-black;
        }
        // mouse over link
        a:hover {
            color: $color-gold;
        }
    }
}

