// for the main links on the entry page

.gateway{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

    div{
        display: flex;
        justify-content: center;
        align-items: center;
        
        width: 200px;
        height: 200px;
        margin: 25px;
        padding: 10px;
    }

    h4{
        width: 200px;
        line-height: 200px;
        text-align: center;
        vertical-align: middle;
        margin: auto;
        color: $color-cream;
        background-color: $color-black;
    }
    h4:link{
        background-color: $color-black;
    }
    h4:hover {
        background-color: $color-gold;
    }
}