//home page settings

.home-header{
    background: $color-black;
    padding: 2em;
    padding-top: 0;
    padding-right: 0;
    margin-bottom: 0em;
    h1{
        margin-top: 2em;
        color: $color-gold;
    }
    h2{
        color: $color-cream;
    }
}