.home-header{
    display: flex;
    flex-direction: column;
    background: $color-black;
    padding: 2em;
    padding-top: 0;
    padding-right: 0;
    margin-bottom: 2em;
    h1{
        font-size: 500%;
        display: inline-block;
        margin-top: 2em;
        color: $color-bg;
    }
    h2{
        display: inline-block;
        margin: 0;
        color: $color-bg;
    }
    // for navigation links
    nav {
        display: inline-block;
        width: 30%;
        margin-right: 0;
        margin-left: auto;
        text-align: center;
        padding: 6px;
        padding-top: 24px;
        a:link {
            color: $color-bg;
        }
        // visited link
        a:visited {
            color: $color-bg;
        }
        // mouse over link
        a:hover {
            color: $color-link-highlight;
        }
        a.current-page {
            color: $color-link-highlight
        }
    }
}