//home page settings

.home-header{
    background: $color-black;
    padding-top: 0;
    padding-right: 0;
    margin-bottom: 0em;
    h1{
        padding-left: 7%;
        color: $color-gold;
    }
    h2{
        padding-left: 7%;
        padding-bottom: 4%;
        color: $color-cream;
    }
}