@import "variables_fonts",
        "variables_colors",
        "prose",
        "home-header",
        "footer",
        "extras";

* {
    box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6,
p, hr, dl, dd, ol, ul, nav, header{
    margin: 0;
    padding: 0;
}

body {
    background-color: $color-cream;
    max-width: 800px;
    min-width: 400px;
    margin: auto;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 125%;

    font-family: $body-font-family;
    font-size: $body-font-size;
    color: $color-black;
}

// for navigation links
nav {
    font-family: $subtitle-font-family;
    font-size: 14pt;
    width: 40%;
    float: right;
    text-align: center;
    padding: 6px;
    padding-top: 36px;
    //link styles
    a:link {
        color: $color-cream;
        text-decoration: none;
    }
    // visited link
    a:visited {
        color: $color-cream;
        text-decoration: none;
    }
    // mouse over link
    a:hover {
        color: $color-gold;
        text-decoration: underline; 
    }
    // current page
    a.current-page {
        color: $color-gold;
        text-decoration: underline;
    }
}

header {
    display: flex;
    flex-direction: row;
    h3{
        float: right;
        width: 30%;
        text-align: center;
        margin: 0;
        padding: 12px;
        padding-top: 12px;
        background: $color-black;
        //link styles for home button
        a:link {
            color: $color-cream;
            text-decoration: none;
        }
        // visited link
        a:visited {
            color: $color-cream;
            text-decoration: none;
        }
        // mouse over link
        a:hover {
            color: $color-gold;
            text-decoration: underline; 
        }
    }
    // for navigation links
    nav {
        background: $color-black;
    }
}

// images in body text
p {
    img {
        display: block;
        margin: auto;
        width: 75%;
        border-style: solid;
        border-color: $color-black;
        border-width: 0.25em;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0.25em;
    margin-bottom: 0em;
}

h1{
    font-family: $title-font-family;
    font-size: 48pt;
    font-weight: 900;
    color: $color-gold;
}
h3{
    font-family: $title-font-family;
    font-size: 36pt;
    font-weight: 900;
    color: $color-gold;
}
h5{
    font-family: $title-font-family;
    font-size: 24pt;
    font-weight: 900;
    color: $color-black;
}
h2, h4{
    font-family: $subtitle-font-family;
    font-size: $subtitle-font-size;
    color: $color-black;
}
h6{
    font-family: $subtitle-font-family;
    font-size: 14pt;
    color: $color-grey;
}

ul {
    display: block;
    list-style-type: none;
    li > p {
        margin-left: 1em;
        margin-right: 0%;
    }
}

hr { 
    display: block;
    border-style: solid;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 5px;
    margin-right: 5px;
    border-width: 1px;
    border-color: $color-grey;
}

// link settings, for index navigation
// unvisited link
a:link {
    color: $color-blue;
    text-decoration: none;
}
// visited link
a:visited {
    color: $color-blue-dark;
    text-decoration: none;
}
// mouse over link
a:hover {
    color: $color-gold;
    text-decoration: underline;
}

::selection{
    color: $color-cream;
    background-color: $color-black;
}

