@import "variables", 
        "prose",
        "home";

* {
    box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6,
p, hr, dl, dd, ol, ul, nav, header{
    margin: 0;
    padding: 0;
}

body {
    background-color: $color-bg;
    max-width: 800px;
    min-width: 400px;
    margin: auto;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 125%;

    font-family: $body-font-family;
    font-size: $body-font-size;
    color: $color-black;
}

header {
    display: flex;
    flex-direction: row;
    h1{
        margin: 0;
        padding: 12px;
        padding-top: 12px;
        display: inline-block;
        background: $color-black;
        a:link {
            color: $color-bg;
        }
        // visited link
        a:visited {
            color: $color-bg;
        }
        // mouse over link
        a:hover {
            color: $color-link-highlight;
        }
        a.current-page {
            color: $color-link-highlight
        }
    }
    // for navigation links
    nav {
        display: inline-block;
        width: 30%;
        margin-right: 0;
        margin-left: auto;
        text-align: center;
        padding: 6px;
        padding-top: 24px;
        background: $color-black;
        a:link {
            color: $color-bg;
        }
        // visited link
        a:visited {
            color: $color-bg;
        }
        // mouse over link
        a:hover {
            color: $color-link-highlight;
        }
        a.current-page {
            color: $color-link-highlight
        }
    }
}

nav {
    font-family: $subtitle-font-family;
    font-size: 12pt;
}

p {
    img {
        display: block;
        margin: auto;
        width: 75%;
        border-style: solid;
        border-color: $color-black;
        border-width: 0.25em;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 1em;
    margin-bottom: 0.25em;
}

h1, h3{
    font-family: $title-font-family;
    font-size: $title-font-size;
    font-weight: 900;
    color: $color-black;
}
h2, h4, h5, h6{
    font-family: $subtitle-font-family;
    font-size: $subtitle-font-size;
    color: $color-black;
}

ul {
    display: block;
    list-style-type: none;
    li > p {
        margin-left: 0.5em;
        margin-right: 0%;
    }
}

hr { 
    display: block;
    border-style: solid;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 5px;
    margin-right: 5px;
    border-width: 1px;
    border-color: $color-grey-mid;
}

// link color settings
// unvisited link
a:link {
    color: $color-link-default;
}
// visited link
a:visited {
    color: $color-link-visited;
}
// mouse over link
a:hover {
    color: $color-link-highlight;
}

::selection{
    color: rgb(253, 251, 246);
    background-color: rgb(51, 51, 51);
}