// set border-box sizing for everything by default
* {
    box-sizing: border-box;
}

// set margin and padding of  key elements to 0 by default
body, h1, h2, h3, h4, h5, h6,
p, hr, dl, dd, ol, ul, nav, header {
    margin: 0;
    padding: 0;
}

// basic settings for body
body {
    background-color: $background;
    max-width: 800px;
    min-width: 400px;
    margin: auto;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 125%;

    font-family: $body-font-family;
    font-size: $body-font-size;
    color: $body-font-color;
}

// list formatting
ul {
    display: block;
    list-style-type: none;
    li > p {
        margin-left: 1em;
        margin-right: 0%;
    }
    li {
        margin-left: 1em;
        margin-right: 0%;
    }
    padding-bottom: 1.0em
}
ol{
    padding-bottom: 1.0em
}
li li{
    list-style-type: lower-alpha;
}
li li li{
    list-style-type: lower-roman;
}
ol > li {
    margin-left: 20px;
}
// prevent double spacing at end of sublists
ol > li > ol {
    padding-bottom: 0.0em
}
ul > li > ul {
    padding-bottom: 0.0em
}

// for navigation links
// built on in header and footer sections
nav {
    display: flex;
    padding-right: 48px;
    padding-left: 48px;

    font-family: $subtitle-font-family;
    font-size: 14pt;
    font-weight: bold;
    text-align: center;
    //link styles
    a:link {
        color: $header-link-off;
        text-decoration: none;
    }
    // visited link
    a:visited {
        color: $header-link-off;
        text-decoration: none;
    }
    // mouse over link
    a:hover {
        color: $header-link-on;
        text-decoration: underline; 
    }
    // current page
    a.current-page {
        color: $header-link-on;
        text-decoration: underline;
    }
}

// used for header at top of most pages
header {
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    h3{
        text-align: center;
        height: auto;
        margin: 0;
        background: $foreground;
        
        padding-right: 48px;
        padding-left: 48px;
        padding-top: 28px;  // to properly align with nav element
        padding-bottom: 12px;
        //link styles for home button
        a:link {
            color: $header-link-off;
            text-decoration: none;
        }
        // visited link
        a:visited {
            color: $header-link-off;
            text-decoration: none;
        }
        // mouse over link
        a:hover {
            color: $header-link-on;
            text-decoration: underline; 
        }
    }
    // for navigation links
    nav {
        align-self: flex-end;
        padding-top: 54px;  // to properly align with h3 Home element
        padding-bottom: 12px;
        background: $foreground;
    }
}

//footer settings, used on most pages
footer{
    nav {
        float: right;
        text-align: center;
        padding-top: 6px;
        a:link {
            color: $footer-link-off;
        }
        // visited link
        a:visited {
            color: $footer-link-off;
        }
        // mouse over link
        a:hover {
            color: $footer-link-on;
        }
    }
}

// set properties for headings
h1, h2, h3, h4, h5, h6 {
    margin-top: 0.25em;
    margin-bottom: 0em;
}

h1{
    font-family: $title-font-family;
    font-size: 48pt;
    font-weight: 900;
    color: $title-font-color;
}
h3{
    font-family: $title-font-family;
    font-size: 36pt;
    font-weight: 900;
    color: $title-font-color;

    line-height: 1.0;
}
h5{
    font-family: $title-font-family;
    font-size: 24pt;
    font-weight: 900;
    color: $subtitle-font-color;
}
h2{
    font-family: $subtitle-font-family;
    font-size: $subtitle-font-size;
    color: $subtitle-font-color;
}
h4{
    font-family: $subtitle-font-family;
    font-size: 18pt;
    color: $subtitle-font-color;
    margin-top: 0.0em;
    margin-bottom: 0.5em;
}
h6{
    font-family: $subtitle-font-family;
    font-size: 14pt;
    color: $date-font-color;
    margin-top: 0.25em;   // extra space before date
    margin-bottom: 0.5em;  // extra space after date
}

// set line breaks
hr { 
    display: block;
    border-style: solid;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 5px;
    margin-right: 5px;
    border-width: 1px;
    border-color: $line-break-color;
}

// link settings, for index navigation
// unvisited link
a:link {
    color: $link-off;
    text-decoration: none;
}
// visited link
a:visited {
    color: $link-off;
    text-decoration: none;
}
// mouse over link
a:hover {
    color: $link-on;
    text-decoration: underline;
}

// set colors for cursor selection
::selection{
    color: $background;
    background-color: $body-font-color;
}

// centers youtube embeds, and adds margins
iframe {
    display: block;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

