// fonts

/* dm-serif-display-regular - latin */
@font-face {
    font-family: 'DM-Serif-Display';
    font-style: normal;
    font-weight: 400;
    src: local('DM Serif Display Regular'), local('DMSerifDisplay-Regular'),
         url('/assets/dm-serif-display/dm-serif-display-v3-latin-regular.woff2') format('woff2'),
         url('/assets/dm-serif-display/dm-serif-display-v3-latin-regular.woff') format('woff');
}
$title-font-family: 'DM-Serif-Display';
$title-font-size: 30pt;

@font-face {
    font-family: 'League-Mono';
    font-style: normal;
    src: local('LeagueMono-Regular') , local('League Mono Regular'),
         url('/assets/league-mono/LeagueMono-Regular.woff2'),
         url('/assets/league-mono/LeagueMono-Regular.woff');
}
$subtitle-font-family: 'League-Mono';
$subtitle-font-size: 18pt;

@font-face {
    font-family: 'Linden-Hill';
    font-style: normal;
    src: local('Linden Hill'),
         url('/assets/linden-hill/LindenHill-webfont.woff');
}
@font-face {
    font-family: 'Linden-Hill';
    font-style: italic;
    src: local('Linden Hill Italic'),
         url('/assets/linden-hill/LindenHill-Italic-webfont.woff');
}
$body-font-family: 'Linden-Hill';
$body-font-size: 14pt;

// color set
$color-bg: rgb(253, 251, 246);
$color-bg-tint: #e3e1dd;
$color-black: rgb(51, 51, 51);
$color-grey-dark: rgb(91, 91, 91);
$color-grey-mid: rgb(154, 154, 154);

$color-link-default: rgb(122, 127, 196);
$color-link-visited: #494c75;
$color-link-highlight: #c4bf7a;
