<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/assets/style-dark.css">
    </head>

    <body>
        <header>
            <h3><a href="/">Home.</a></h3>
            {% include navigation.html %}
        </header>

        <br>

        <body>
            <h1>{{ page.title }}</h1>
            <div>
                {{content}}
            </div>
            <hr>

            {% for entry in site.diary_entries reversed %}
                <h6>{{ entry.date | date: "%a, %b %d, %Y"}}</h6>
                <div class="prose">
                    {{ entry.content }}
                </div>
                <br>
            {% endfor %}
        
        </body>

        {% include footer.html %}
        
    </body>

</html>