<!DOCTYPE html>
<html>

    {% include head.html %}
    
    <body>
        <div class="home-header">
            <header>
                <h3><a href="/">Home.</a></h3>
                {% include navigation.html %}
            </header>
            <div style="margin-top: 50px;">
                <h1>{{ site.title }}</h1>
                <h2>{{ site.description }}</h2>
            </div>
        </div>

        <h5 class="center">
            Latest Posts
        </h5>

        <ul>
            {% for post in site.posts limit:3%}
                <li>
                    <h2>
                        <a href="{{ post.url }}">{{ post.title }}</a>
                    </h2>
                    <h6 class="all-caps">
                        {{ post.date | date: "%B %e, %Y"}}
                    </h6>
                    <p>{{ post.excerpt }}</p>
                </li>
                <br>
            {% endfor %}
        </ul>

        <h4 class="center">
            <a href="/index/">
                More Posts.
            </a>
        </h4>
        
    </body>

    {% include footer.html %}

</html>